USE [SmartOfficeDB]
GO
/****** Object:  Table [dbo].[Birimler]    Script Date: 13.01.2026 21:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birimler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BirimAd] [nvarchar](max) NULL,
 CONSTRAINT [PK__Birimler__3214EC07AA4650F9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 13.01.2026 21:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](max) NULL,
	[BirimId] [int] NULL,
	[UnvanId] [int] NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK__Personel__3214EC0755DA70CA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unvanlar]    Script Date: 13.01.2026 21:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unvanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnvanAd] [nvarchar](max) NULL,
 CONSTRAINT [PK__Unvanlar__3214EC07C0292456] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Birimler] ON 

INSERT [dbo].[Birimler] ([Id], [BirimAd]) VALUES (1, N'Yazılım')
INSERT [dbo].[Birimler] ([Id], [BirimAd]) VALUES (2, N'Pazarlama')
INSERT [dbo].[Birimler] ([Id], [BirimAd]) VALUES (3, N'İnsan Kaynakları')
SET IDENTITY_INSERT [dbo].[Birimler] OFF
GO
SET IDENTITY_INSERT [dbo].[Personeller] ON 

INSERT [dbo].[Personeller] ([Id], [AdSoyad], [BirimId], [UnvanId], [Email]) VALUES (1, N'Erkan Döne', 4, 4, N'erkndne53@gmail.com')
INSERT [dbo].[Personeller] ([Id], [AdSoyad], [BirimId], [UnvanId], [Email]) VALUES (2, N'Ahmet Çankal', 1, 2, N'ahmetcankal@gmail.com')
INSERT [dbo].[Personeller] ([Id], [AdSoyad], [BirimId], [UnvanId], [Email]) VALUES (8, N'Mehmet Ali Kural', 4, 4, N'mehmet@gmail.com')
SET IDENTITY_INSERT [dbo].[Personeller] OFF
GO
SET IDENTITY_INSERT [dbo].[Unvanlar] ON 

INSERT [dbo].[Unvanlar] ([Id], [UnvanAd]) VALUES (1, N'Genel Müdür')
INSERT [dbo].[Unvanlar] ([Id], [UnvanAd]) VALUES (2, N'Yazılım Uzmanı')
INSERT [dbo].[Unvanlar] ([Id], [UnvanAd]) VALUES (3, N'Proje Yöneticisi')
SET IDENTITY_INSERT [dbo].[Unvanlar] OFF
GO
